<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assistantapp">

    <permission
        android:name="com.example.assistantapp.permission.ACCESS_USER_SERVICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.assistantapp.PROVIDER"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.example.assistantapp.permission.ACCESS_USER_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter1.ReparentableActivity"
            android:allowTaskReparenting="true"
            android:exported="true" />

        <service
            android:name=".chapter2.AIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.aidl" />
            </intent-filter>
        </service>

        <provider
            android:name=".chapter2.MyContentProvider"
            android:authorities="com.example.assistantapp.provider"
            android:permission="com.example.assistantapp.PROVIDER" />

        <service
            android:name=".chapter2.BinderPoolService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>